header {
	margin-top: 30px;
	margin-bottom: 30px;
}

header .logo {
	width: 180px;
}

header .title {
	margin-top: 30px;
}

form {
	padding: 0 120px 100px 120px;
}

.formset {
	margin: 20px 0;
}

.form-title {
	margin-top: 50px;
	margin-bottom: 30px;
}

.cpl-18 {
    padding-left: 18px;
}